@page {
  size: A4;
  margin: 0; }

* {
  box-sizing: border-box; }

.link {
  width: 10px;
  height: 10px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../icons/link.svg"); }

body {
  margin: 0;
  display: inline;
  background-color: #515558; }
  body .page {
    width: 210mm;
    height: 297mm;
    display: flex;
    color: #222;
    font-family: "Lato", sans-serif;
    font-size: 13px;
    margin: 0 auto;
    background-color: #e8e8e8; }
    body .page .overviewColumn {
      width: 35%;
      height: 100%;
      background-color: #2c2c2c;
      padding: 12px;
      color: #ffb045; }
      body .page .overviewColumn .candidateName {
        font-size: 24px;
        margin-bottom: 20px;
        color: #ffb045; }
      body .page .overviewColumn .position {
        color: white;
        font-size: 20px;
        margin-bottom: 8px; }
      body .page .overviewColumn .company {
        color: white;
        font-size: 16px;
        margin-bottom: 35px; }
      body .page .overviewColumn .contact {
        color: white;
        margin-bottom: 35px; }
        body .page .overviewColumn .contact .contactRow {
          display: flex;
          align-items: center; }
          body .page .overviewColumn .contact .contactRow .contactImg {
            width: 20px;
            height: 20px;
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            margin: 4px;
            margin-right: 8px; }
            body .page .overviewColumn .contact .contactRow .contactImg:hover {
              outline: none; }
            body .page .overviewColumn .contact .contactRow .contactImg.telephone {
              background-image: url("../icons/phone.svg"); }
            body .page .overviewColumn .contact .contactRow .contactImg.email {
              background-image: url("../icons/envelope.svg"); }
            body .page .overviewColumn .contact .contactRow .contactImg.linkedIn {
              background-image: url("../icons/linkedin.svg"); }
          body .page .overviewColumn .contact .contactRow .contactText {
            color: white;
            text-decoration: none; }
          body .page .overviewColumn .contact .contactRow .link {
            margin-left: 12px; }
      body .page .overviewColumn .columnSegment {
        margin-bottom: 35px; }
        body .page .overviewColumn .columnSegment .header {
          display: flex;
          align-items: center;
          margin-bottom: 8px; }
          body .page .overviewColumn .columnSegment .header .headerContent {
            font-size: 20px;
            margin-right: 4px; }
          body .page .overviewColumn .columnSegment .header .headerLine {
            flex-grow: 1;
            border-bottom: solid 1px #ffb045; }
        body .page .overviewColumn .columnSegment .entryText {
          display: flex;
          align-items: center;
          margin-bottom: 8px;
          margin-left: 24px;
          color: white;
          font-size: 16px; }
    body .page .letterColumn {
      width: 65%;
      height: 100%;
      padding: 12px; }
      body .page .letterColumn .letterSegment {
        margin-bottom: 20px; }
        body .page .letterColumn .letterSegment .header {
          font-size: 24px;
          font-weight: bold;
          margin-bottom: 8px; }
          body .page .letterColumn .letterSegment .header .highlight {
            color: #ffb045; }
        body .page .letterColumn .letterSegment .titleBar {
          display: flex;
          margin-bottom: 8px; }
          body .page .letterColumn .letterSegment .titleBar .time {
            width: 110px; }
          body .page .letterColumn .letterSegment .titleBar .title {
            font-weight: bold;
            flex-grow: 1; }
          body .page .letterColumn .letterSegment .titleBar .position {
            flex-grow: 1;
            text-align: end; }
        body .page .letterColumn .letterSegment .letterSegmentEntry {
          margin-bottom: 30px; }
          body .page .letterColumn .letterSegment .letterSegmentEntry .segmentTitle {
            font-weight: bold;
            margin-bottom: 8px;
            display: flex;
            align-items: center;
            text-decoration: none;
            color: #222; }
            body .page .letterColumn .letterSegment .letterSegmentEntry .segmentTitle .link {
              margin-left: 8px; }
          body .page .letterColumn .letterSegment .letterSegmentEntry .segmentDescription {
            color: #666;
            margin-bottom: 8px; }
          body .page .letterColumn .letterSegment .letterSegmentEntry .segmentBulletPoints {
            margin-left: 12px;
            margin-bottom: 8px;
            padding-inline-start: 12px; }
            body .page .letterColumn .letterSegment .letterSegmentEntry .segmentBulletPoints .bulletPoint {
              margin-bottom: 4px; }
          body .page .letterColumn .letterSegment .letterSegmentEntry .usedTechnologies {
            display: flex;
            margin-left: 24px; }
            body .page .letterColumn .letterSegment .letterSegmentEntry .usedTechnologies .techTitle {
              margin-right: 12px;
              white-space: nowrap; }
            body .page .letterColumn .letterSegment .letterSegmentEntry .usedTechnologies .technologies {
              font-style: italic; }
