@page {
  size: A4;
  margin: 0;
}

$font_color: #222;
$highlight_color: #ffb045;
$background_color: #2c2c2c;

$font_huge: 24px;
$font_big: 20px;
$font_medium: 16px;
$font_regular: 13px;

$time_column_width: 110px;

$S: 4px;
$SM: 8px;
$M: 12px;
$ML: 16px;
$L: 20px;
$XL: 24px;
$XXL: 35px;
$XXXL: 50px;

* {
  box-sizing: border-box;
}

.link {
  width: 10px;
  height: 10px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../icons/link.svg");
}

body {
  margin: 0;
  display: inline;
  background-color: #515558;

  .page {
    width: 210mm;
    height: 297mm;
    display: flex;
    color: $font_color;
    font-family: "Lato", sans-serif;
    font-size: $font_regular;
    margin: 0 auto;
    background-color: #e8e8e8;

    .overviewColumn {
      width: 35%;
      height: 100%;
      background-color: $background_color;
      padding: $M;
      color: $highlight_color;

      .candidateName {
        font-size: $font_huge;
        margin-bottom: $L;
        color: $highlight_color;
      }

      .position {
        color: white;
        font-size: $font_big;
        margin-bottom: $SM;
      }

      .company {
        color: white;
        font-size: $font_medium;
        margin-bottom: $XXL;
      }

      .contact {
        color: white;
        margin-bottom: $XXL;

        .contactRow {
          display: flex;
          align-items: center;

          .contactImg {
            width: 20px;
            height: 20px;
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            margin: $S;
            margin-right: $SM;

            &:hover {
              outline: none;
            }

            &.telephone {
              background-image: url("../icons/phone.svg");
            }

            &.email {
              background-image: url("../icons/envelope.svg");
            }

            &.linkedIn {
              background-image: url("../icons/linkedin.svg");
            }
          }

          .contactText {
            color: white;
            text-decoration: none;
          }

          .link {
            margin-left: $M;
          }
        }
      }

      .columnSegment {
        margin-bottom: $XXL;

        .header {
          display: flex;
          align-items: center;
          margin-bottom: $SM;

          .headerContent {
            font-size: $font_big;
            margin-right: $S;
          }

          .headerLine {
            flex-grow: 1;
            border-bottom: solid 1px $highlight_color;
          }
        }

        .entryText {
          display: flex;
          align-items: center;
          margin-bottom: $SM;
          margin-left: $XL;
          color: white;
          font-size: $font_medium;
        }
      }
    }

    .letterColumn {
      width: 65%;
      height: 100%;
      padding: $M;

      .letterSegment {
        margin-bottom: $L;

        .header {
          font-size: $font_huge;
          font-weight: bold;
          margin-bottom: $SM;

          .highlight {
            color: $highlight_color;
          }
        }

        .titleBar {
          display: flex;
          margin-bottom: $SM;

          .time {
            width: $time_column_width;
          }

          .title {
            font-weight: bold;
            flex-grow: 1;
          }

          .position {
            flex-grow: 1;
            text-align: end;
          }
        }

        .letterSegmentEntry {
          margin-bottom: 30px;

          .segmentTitle {
            font-weight: bold;
            margin-bottom: $SM;
            display: flex;
            align-items: center;
            text-decoration: none;
            color: $font_color;

            .link {
              margin-left: $SM;
            }
          }

          .segmentDescription {
            color: #666;
            margin-bottom: $SM;
          }

          .segmentBulletPoints {
            margin-left: $M;
            margin-bottom: $SM;
            padding-inline-start: $M;

            .bulletPoint {
              margin-bottom: $S;
            }
          }

          .usedTechnologies {
            display: flex;
            margin-left: $XL;

            .techTitle {
              margin-right: $M;
              white-space: nowrap;
            }

            .technologies {
              font-style: italic;
            }
          }
        }
      }
    }
  }
}